includes:
  - phpstan-baseline.php
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  phpVersion:
    min: 80400
    max: 80599
  level: 10
  tmpDir: build/phpstan
  paths:
    - src
    - tests
    - tools
  excludePaths:
    analyse:
      - tests/AutoReview/data/**
      - tools/vendor/**
  bootstrapFiles:
    - vendor/autoload.php
  stubFiles:
    - stubs/Psr/Http/Message/MessageInterface.stub
  exceptions:
    check:
      throwTypeCovariance: true
  checkBenevolentUnionTypes: true
  checkMissingCallableSignature: true
  checkMissingOverrideMethodAttribute: true
  checkTooWideReturnTypesInProtectedAndPublicMethods: true
  checkTooWideThrowTypesInProtectedAndPublicMethods: true
  checkUninitializedProperties: true
  reportAlwaysTrueInLastCondition: true
  reportAnyTypeWideningInVarTag: true
  reportPossiblyNonexistentGeneralArrayOffset: true
  reportPossiblyNonexistentConstantArrayOffset: true
  treatPhpDocTypesAsCertain: false
  editorUrl: 'vscode://file/%%file%%:%%line%%'
  editorUrlTitle: '%%relFile%%:%%line%%'
