parameters:
  title: 'Nexus MCP SDK (1.x-dev)'

services:
  analyzer.filter:
    factory: Nexus\Mcp\Api\AnalyserFilter
    arguments:
      excludeProtected: %excludeProtected%
      excludePrivate: %excludePrivate%
      excludeTagged: %excludeTagged%

  renderer.filter:
    factory: Nexus\Mcp\Api\RendererFilter
